.blackWhiteBox{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    background: linear-gradient(to top, #fff 50%, #000 50%);
}

.bluebox{
    width: 70%;
    color: #fff;
    background-color: #006cb7;
    border-radius: 10px;
    padding: 70px 20px; 
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
}
.MainText{
    font-size: 25px;
    width: 60%;
    font-weight: 400;
}
.emailBox{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.emailarea{
    border: 2px solid #fff;
    background-color: transparent;
    padding: 2px 10px;
    border-radius: 6px;
    max-height: 35px;
}
input::placeholder{
    color: #fff;
    opacity: 1;
}

.join{
    padding: 10px 40px;
    color: #000;
    background-color: #fff;
    border-radius: 6px;
    max-height: 30px;
}